#container{
border:2px solid #d0c8c8;
width:35%;
height:85vh;
margin-top:3%;
background-color:black;
}

h2{
border-bottom:2px solid #d0c8c8;
color:white;
width:100%;
height:6vh;
font-size:2vw;
font-family:Bradley Hand ITC;
}

input[type="text"]{
width:80%;
height:7vh;
border:2px solid #d0c8c8;
border-radius:4px;
font-size:2vw;
font-family:Comic Sans MS;
text-align:center;
}

input[type="button"],[type="reset"]{
width:20%;
height:6vh;
border:none;
border-radius:4px;
font-size:1.3vw;
font-weight:bold;
font-family:Bradley Hand ITC;
margin:3%;
}

input[type="reset"]:hover{
background-color:#b9b4b4;
}

input[type="button"]:hover{
background-color:#b9b4b4;
}

input[type="reset"]:active{
background-color:#616060;
}

input[type="button"]:active{
background-color:#616060;
}
